* {
        margin: 0;
        padding: 0;
        }

body{
    font-family: 'Montserrat', sans-serif;
}

/*-----------------HEADER-------------------------------*/
.header{
    background-color: black;
}

.header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    text-transform: uppercase;
}

.menulista{
    list-style-type: none;
    text-align: right;
}

.menulista  li {
    display: inline-block;
    padding: 0.5rem;
}

.menulink{
    text-decoration: none;
    font-size: 0.8rem;
    color: white;
}

nav:hover li:hover a:hover{
    color: rgb(144 208 93);
}

/*-----------------QUIENES SOMOS-------------------------------*/
.quienessomos{
    background-image: url("./img/remo_mujeres.jpg");
    background-color: rgb(144 208 93);
    height: 20rem;
    background-repeat:no-repeat;
    background-size: cover;
    background-position: center;
}

.titulodoblepar{
    font-size: 4.5rem;
    color: white;
    padding-top: 2rem;
    padding-bottom: 1rem;
    padding-left: 1rem;
}

.titulodoblepar span{
    background-color: rgb(144 208 93);
}

.textoagenciacolaborativa{
    font-weight: 500;
    color: white;
    padding-bottom: 2rem;
    padding-left: 1rem;
}

.textoagenciacolaborativa span{
    background-color: rgb(144 208 93);
}
.textoquehacemos{
    font-weight: 400;
    color: white;
    padding-bottom: 0.5rem;
    padding-left: 1rem;
    padding-right: 1rem;
    margin-right: 11rem;
}

.textoquehacemos span{
    background-color: rgb(132, 0, 80)
}

.conocenos{
    font-weight: 400;
    padding-bottom: 1rem;
    padding-left: 1rem;
}

.conocenos span{
    background-color: rgba(255, 255, 255, 0.681)
}